.flickity {
  &-slider > li {
    width: 100%;
  }
  &-page-dots {
    .intro & {
      position: static;
      margin-top: 50px;
      text-align: left;
    }
    .device & {
      bottom: 20px;
    }
    > .dot {
      width: 13px;
      height: 13px;
      background-color: transparent;
      border: 2px solid #fff;
      opacity: 1;
      transition: background-color .3s;
      &.is-selected {
        background-color: #fff;
      }
    }
  }
}
