.header {
  position: relative;
  height: 800px;
  padding-top: 60px;
  color: #fff;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__copy {
    margin-top: 100px;
    margin-bottom: 45px;
    font-size: 40px;
    font-weight: 300;
    @media (min-width: $screen-sm) {
      margin-top: 200px;
      font-size: 45px;
    }
  }
}
