.section {
  &--about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &--features {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  &--showcase {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 600px;
    background-image: url('../images/showcase-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &--screenshot-intro {
    padding-top: 170px;
    padding-bottom: 100px;
    background-color: #f6f7f9;
  }
  &--download {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #3f6184;
  }
}
