section.section--download.download#download
  .container
    .row
      .col-md-12.text-center#js-wp4.waypoints
        h2.download__heading Seen Enough?
        a.btn.btn--default(href="http://tympanus.net/codrops/?p=22554")
          | Download!
          i.fa.fa-download

