- navs = [{text: 'about', icon: 'heart'}, {text: 'feature', icon: 'flash'}, {text: 'screenshot', icon: 'desktop'}, {text: 'download', icon: 'download'}]
nav.gnav#js-gnav
  ul.gnav__inner
    each nav, i in navs
      li.gnav__item
        a.gnav__link(href="##{nav.text}")
          i.gnav__icon(class="fa fa-#{nav.icon}")
          | #{nav.text}
