header.header
  .header__grid-overlay
  .container
    .row
      .col-xs-6
        h1
          a(href="#")
            img(src="images/logo-white.png" alt="Boxify")
      .col-xs-6.menu.text-right
        span.menu__text menu
        span.menu__icon#js-menu-icon
    .row
      .col-xs-12
        h2.header__copy An Exclusive, Premium HTML5 & CSS3 Template by Peter Finlan, for Codrops.
        .btn--group
          a.btn.btn--white.hidden-xs(href="http://tympanus.net/codrops/?p=22554") Use it for free
          a.btn.btn--default(href="#about")
            | Learn more
            i.fa.fa-arrow-down

  include gnav
