section.intro
  .container-fluid
    .row
      .col-md-6.nopadding
        .intro__img
          .texture-overlay
          img.intro__logo#js-wp1.waypoints(src="images/html5-logo.png" alt="HTML5")
      .col-md-6.nopadding
        .intro__main
          ul#js-intro-slider
            - lists = [{h2: 'The Fore-front of Design & Technology'}, {h2: 'Multi-Purpose User Centric Design'}, {h2: 'Made with Love, Released for Free'}]
            each list, i in lists
              li
                h2.intro__heading= list.h2
                p.intro__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                a.intro__link(href="#features")
                  | Find out why this freebie rocks!
                  i.fa.fa-long-arrow-right.intro__icon
