section.section--screenshot-intro.screenshot-intro
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
        h2.screenshot-intro__heading Packed Full of Powerful Features
        p.screenshot-intro__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        a.screenshot-intro__link(href="#")
          | See the screenshots!
          i.fa.fa-long-arrow-right.screenshot-intro__icon


