doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title boxify
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:400,300' type="text/css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

    // build:css styles/vendor.css
    link(rel='stylesheet', href='../bower_components/fancybox/source/jquery.fancybox.css', media='all')
    link(rel='stylesheet', href='../bower_components/flickity/dist/flickity.min.css', media='all')
    // endbuild

    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    include partials/header

    include partials/about
    include partials/intro
    include partials/feature
    include partials/showcase

    // build:js script/vendor.js
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/fancybox/source/jquery.fancybox.js')
    script(src='../bower_components/flickity/dist/flickity.pkgd.min.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/gnav.js')
    script(src='scripts/video.js')
    script(src='scripts/flickity.js')
    // endbuild
